<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>DATA SCIENCE FOR DIVERSITY</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<style>
		background-color: #4B0082;
		p.padding {
    			padding-left: 0.5cm;
		}

		p.padding2 {
    			padding-left: 1cm;
			padding-right: 1cm;
		}
		</style>
	</head>
	<body>
		<div>
  			<h1> <!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>DATA SCIENCE FOR DIVERSITY</title> 

</head>
<body>
<!-- BEGIN DIV FOR OVERALL BOX -->
<div id="data science for diversity">
<!-- THIS DIV CENTERS OUR HEADING -->
<div id="topinfo">

<p class="padding">DATA SCIENCE FOR DIVERSITY<p/>
<p class="padding">Christian Templeton<p/>
<br />
<!-- END CENTERING DIV -->



<p class="padding">Part 1: The Idea<p/>

<p class="padding2">I believe in learning and inclusion. My mother immigrated from Uruguay after meeting my father in the Peace Corps. For over 30 years, both taught at Hispanic public schools in California. I grew up in a diverse neighborhood and benefitted from the accessibility of great tech companies 40 miles north. I was fortunate to join multiple companies with acceptance rates lower than top-tier universities, without having attended one myself. <p/>	
<br />

	
<p class="padding2">Three things happened to me in the fall of 2016 that gave me an idea. First, I noticed a developing trend toward more tech jobs favoring candidates with STEM backgrounds from top-tier universities. Then, I came across an article about an exclusive data science program that’s harder to get into than one of those top-tier universities. Finally, I was riding bikes with a friend who shared with me that he left that same top-tier university and taught himself programming using free resources. <p/>
<br />
	

	
<p class="padding2">Inspired by the idea that learning is accessible to anyone, anywhere, I taught myself SQL and Python. Using these new skills, I applied to that data science program I had read about. I passed the programming challenge and had the opportunity to pitch my idea for a machine learning model that identifies barriers to inclusion in education, and by extension employment. Ironically, I was accepted to their exclusive fellowship program with a pitch for making learning more inclusive. <p/>	
<br />

<p class="padding">Part 2: The Proposal<p/>

	<p class="padding2"><iframe width="1286" height="917" src="https://www.youtube.com/embed/UeCX6CaeUUA" frameborder="0" allowfullscreen></iframe><p/>

<br />
<br />
	
<p class="padding">Part 3: The Pitch<p/>

	<p class="padding2"><iframe src="https://docs.google.com/presentation/d/1RdnqbloPVJ6U4t16QSlq1l08r29GdpswnghK7T-44b4/embed?start=true&loop=true&delayms=3000" frameborder="0" width="1286" height="917" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe><p/>

<br />
<br />
	
<p class="padding">Epilogue: The Fellowship<p/>
	<p class="padding2"><iframe src="https://www.thedataincubator.com/foundations.html" width="1286" height="917" frameborder="0"></iframe><p/>

<br />
	
<!-- THIS DIV CENTERS OUR LINKS -->
<div id="bottom">
<p>

</p>
</div>
<!-- END CENTERING LINKS -->

<!-- END DIV FOR OVERALL BOX -->
</div>
