<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Data Science for Diversity</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1> <!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Data Science for Diversity </title> 
</head>
<body>
<!-- BEGIN DIV FOR OVERALL BOX -->
<div id="resume">
<!-- THIS DIV CENTERS OUR HEADING -->
<div id="topinfo">
<p>

</p>

<h1>Data Science for Diversity</h1>
<h2>Christian Templeton</h2>
<br />
<!-- END CENTERING DIV -->
</div>

<h2>HEAR THE BIG WHY</h2>
	As the son of 2 teachers and a Hispanic with an advanced degree, I’ve personally experienced my parents help minorities through the educational system, while still observing underrepresentation of minorities in as I moved through the educational system.
	My proposal uses a two-class decision model to perform supervised machine learning predicting the following: 
	Based on independent variables such as household income, age, sex, etc. will a minority living in the US between the age of 25 - 29 complete a four-year degree?
	I believe the impact of identifying variables predicting whether minorities will complete college can have a broad social impact. For data to drive action, I believe it takes a storyteller who can speak to why this is important and how it can help minorities. I believe I would be well-positioned not only to tell this story.

<h3>READ THE PITCH</h3>

	<iframe src="https://docs.google.com/presentation/d/1RdnqbloPVJ6U4t16QSlq1l08r29GdpswnghK7T-44b4/embed?start=true&loop=true&delayms=3000" frameborder="0" width="640" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h3>HEAR THE PROPOSAL</h3>

	<iframe width="640" height="389" src="https://www.youtube.com/embed/UeCX6CaeUUA" frameborder="0" allowfullscreen></iframe>

<h3>READ MY TESTIMONIAL</h3>
	<iframe src="https://www.thedataincubator.com/foundations.html" width="640" height="389" frameborder="0"></iframe>

<!-- THIS DIV CENTERS OUR LINKS -->
<div id="bottom">
<p>

</p>
</div>
<!-- END CENTERING LINKS -->

<!-- END DIV FOR OVERALL BOX -->
</div>
</body>
</html></h1>
		</div>
	</body>
</html>
