<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CHRISTIAN + KELLY TOGETHER AT LAST</title>
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <meta name="description" content="Wedding">
    <meta name="author" content="SitePoint">
		<style>
		p { 
   		   font-family: 'CaslonOSRegular'; 
   		   font-weight: normal; 
                   font-style: normal; 
                   }
		p.padding {
    			padding-left: 0.5cm;
		}
		p.padding2 {
    			padding-left: 1cm;
			padding-right: 1cm;
		}
		</style>
	</head>
	<body>
  <script src="js/scripts.js"></script>
  <body style="background-color:#C3CDE6">
  <style>
                p { 
   		   font-family: 'CaslonOSRegular'; 
   		   font-weight: normal; 
                   font-style: normal; 
                   }
  </style>
		<div>
  			<h1> <!DOCTYPE html>
<html>

<head>
<meta http-equiv="content-type" content="SitePoint; charset=utf-8" />

<title>CHRISTIAN + KELLY TOGETHER AT LAST</title> 

</head>
  
  
<body>
<!-- BEGIN DIV FOR OVERALL BOX -->
<div id="weddingy">
<!-- THIS DIV CENTERS OUR HEADING -->
<div id="topinfo">

<p class="padding">CHRISTIAN + KELLY TOGETHER AT LAST<p/>
<p class="padding">September 21, 2019 -- Marin, California<p/>

<!-- END CENTERING DIV -->



<p class="padding">Part 1: The First Date<p/>

<p class="padding2">There are various accounts. As told by Christian, their first date was at the Academy of Sciences, which Kelly contends was not a date. <p/>	

	
	<p class="padding2"><iframe width="896" height="545" src="https://www.youtube.com/embed/USjuOWLyWIQ?rel=0&autoplay=1p;controls=0&amp;showinfo=0&amp;start=145" frameborder="0"; encrypted-media" allowfullscreen></iframe><p/>

	
<p class="padding2">Christian and Kelly worked together at the time, so Christian "bumped into" Kelly and asked if she wanted to get lunch the following week. This too, was not a date. During the not-a-date lunch, Christian asked Kelly to go to Wilco at the Greek Theater. She said yes! <p/>


	
<p class="padding">Part 2: The Proposal<p/>

<p class="padding2">After six years of being together, Kelly curiously developed a shared interest in cycling, one of the things Christian loves. Christian and Kelly trained for a 65-mile charity ride in Napa, CA and the stage was set. After 55 miles Christian feigned a flat tire. Christian, Kelly and her parents who were on the ride pulled over. Instead of a tube, Christian pulled out a ring and popped the question. It was kind of like this... but in spandex! <p/>	
	
	
	<p class="padding2"><iframe width="896" height="545" src="https://www.youtube.com/embed/tXZm_-0N-B4?rel=0&autoplay=1;controls=0&amp;showinfo=0&amp;start=169" frameborder="0"; encrypted-media" allowfullscreen></iframe><p/>

	
<p class="padding2"> After Kelly said yes, her sister Julie jumped out from her nearby bunker with flowers and Champagne. Christian carried the Champagne in his bike jersey the remaining 10 miles and sprayed Kelly as she passed the finish line! <p/>
	

<p class="padding">Part 3: The Wedding<p/>

	<p class="padding2">Do you remember the 21st night in September... you will now! Join us for a night to remember at the Marin Art & Garden Center (MAGC), a nonprofit in Ross, CA. <p/>	
	
		
	<p class="padding2"><iframe width="896" height="545" src="https://www.youtube.com/embed/Gs069dndIYk?rel=0&autoplay=1;controls=0&amp;showinfo=0&amp;start=19" frameborder="0"; encrypted-media" allowfullscreen></iframe><p/>		

	
	<p class="padding2">Details coming soon! <p/>	

	
<!-- THIS DIV CENTERS OUR LINKS -->
<div id="bottom">
<p>

</p>
</div>
<!-- END CENTERING LINKS -->

<!-- END DIV FOR OVERALL BOX -->

</div>
